.header{{
	
	text-align: center;
	hight: 50pt;
	background: blue;
	
}
.login-popup{
	
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	
	display: flex;
	
}

.login-popup .cover{
		
	background: #000;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.login-popup .login-content{
	
	display: flex;
	align-ite
	z-index: 20;
	 
}